/.CFUserTextEncoding
/.DS_Store
/.Trash
/.android
/.bash_history
/.bash_profile
/.bash_sessions
/.cache
/.config
/.dart
/.dartServer
/.emulator_console_auth_token
/.flutter
/.gradle
/.invision-studio
/.local
/.oracle_jre_usage
/.pub-cache
/.swiftpm
/.viminfo
/.vscode
/.zsh_history
/.zsh_sessions
/.zshenv
/.zshrc
/AndroidStudioProjects
/Applications
/Calibre Library
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/cobitb1
/cobitb1.cpp
/cthtb1.cpp
/helloworld
/helloworld.cpp
/iCloud Drive (Archive)
/inputprogram
/inputprogram.cpp
/smpl.cpp
/tb-1.cpp
/tb1
/tb1.cpp
/tb1.o
/tempCodeRunnerFile.cpp